@import "tailwindcss";

@layer components {
    .card {
        @apply rounded-2xl bg-blue-300 p-3;
    }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Poppins", sans-serif;
}

body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    /* Firefox */
}