@import "tailwindcss";

@layer components {
    .card {
        @apply rounded-2xl bg-blue-300 p-3;
    }
}

@theme {
    --font-sans: "Poppins", sans-serif;
}

body{
    background-color: black;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    /* Firefox */
}